body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $default-background;
    font-family: $lato;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: $arimo;
}
a {
    text-decoration: none;
    color: black;
}
ol,
ul,
dl {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $dark;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $dark;
}
//CONTAINER
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @include respond-to('device') {
        max-width: 540px;
    }
    @include respond-to('small') {
        max-width: 720px;
    }
    @include respond-to('medium') {
        max-width: 960px;
    }
    @include respond-to('large') {
        max-width: 1140px;
    }
    @include respond-to('extra-large') {
        max-width: 1300px;
    }
}
.flex-page {
    display: flex;
    .content {
        margin-top: calc(2rem + 70px);
        margin-left: $closed;
        padding: 0 19px;
        min-height: calc(100vh - (70px + 2rem));
        width: 100vw;
        @include respond-to('medium') {
            padding: 0 25px;
            margin-left: $opened;
        }

        @include respond-to('extra-large') {
            padding: 0 36px;
        }
        .page-content {
            display: flex;
            height: 100%;
            flex-direction: column;
        }
    }
    .menu {
        background: $white;
        width: $closed;
        min-height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
        white-space: nowrap;
        @include respond-to('medium') {
            width: $opened;
        }
    }
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
}
span {
    background: transparent;
}
p {
    margin: 0;
    padding: 0;
    background: transparent;
}
