@import './../../styles/utils/variables';
@import './../../styles/utils/mixins';
.new-tr {
    display: none !important;
    &.show {
        display: table-row !important;
    }
}
.nopT {
    padding: 15px 15px !important;
    @include respond-to('medium') {
        padding: 0 15px !important;
    }
}
.pT {
    padding: 19px 15px !important;
}
.datails {
    .card {
        width: 100%;
        display: block;
        margin: 1.5rem auto;
        &__padding {
            padding: 10px 15px;
            @include respond-to('medium') {
                padding: 0 27px 20px;
            }
        }

        @include respond-to('extra-large') {
            width: $width80;
        }
    }
    .name {
        width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include respond-to('extra-small') {
            width: 145px;
        }
    }
    .value {
        @media (max-width: 992px) {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 12px;
        }
    }
}

.add-button {
    background: $light-green;
    margin: 26px 0 0px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border: solid 1px transparent;
    @include transition(0.3s);
    @include border-radius(4px);
    color: $dark-green;
    display: none;
    @include respond-to('medium') {
        display: block;
    }
    span {
        margin-left: 15px;
    }
    &:hover {
        border-color: $dark-green;
    }
}
.insert-obs {
    textarea {
        width: 99.4%;
        height: 40px;
        margin-top: 20px;
    }
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    font-size: $text20px;
}
// .head {
//     display: flex;
//     justify-content: space-between;
// }
