@import './../../../styles/utils/mixins';
@import './../../../styles/utils/variables';
.sub-side-nav {
    position: fixed;
    height: 100vh;
    width: 300px;
    background: $white;
    left: 64px;
    top: 0;
    z-index: 5;
    @include respond-to('medium') {
        left: 251px;
    }
    h1 {
        margin: 2.5rem 1.5rem 1rem;
    }

    &__list {
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        a {
            padding: 15px;
            cursor: pointer;
            border: solid 1px transparent;
            border-radius: $radius5;
            margin-top: 15px;
            @include transition(0.3s);
            &:hover, &.active {
                border-color: #000;
            }
        }
    }
}
