@import './../../styles/utils/mixins';
@import './../../styles/utils/variables';

.ac-select-wrapper {
    display: flex;
    width: 400px;
    flex-direction: column;
    position: relative;
    &:after {
        content: '';
        height: 100%;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #000;
        position: absolute;
        right: 10px;
        top: 18px;
        pointer-events: none;
        @include transform(translateY(0));
        @include transition(0.3s);
    }
    .ac-select {
        background: #fff;
        color: #000;
        max-height: 0;
        opacity: 0;
        width: 100%;
        overflow: hidden;
        .ac-options,
        &-label {
            padding: 12px 24px;
            cursor: pointer;
        }
        &-label {
            order: 0;
            background: #fff;
            border-radius: 4px;
        }
        .ac-options {
            &:hover {
                background: #ccc;
            }
            &-labels {
                cursor: pointer;
            }
        }
        &--show {
            max-height: 240px;
            opacity: 1;
            overflow: auto;
        }
    }
}
